@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

*{
    font-family: "Share Tech Mono", monospace;
    font-weight: 700;
    font-style: normal;
    border: none;
    border-radius: 10px;
}

body{
    padding: 0px;
    margin:0px;
    width: 100%;
    height: 100vh;
    background-color: rgb(191, 155, 64);
    background-image: url("stop.jpg");
    background-size: cover;       
    background-position: center;   
    background-repeat: no-repeat;
}

.card{
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(138, 43, 226,0.8);
    padding: 30px;
    padding-top: 10px;
    padding-bottom: 40px;
    margin-top: 150px;
}


.heading{
    text-align: center;
    max-width: fit-content;
    padding-left: 10px;
    padding-right: 10px;
    background-color: chocolate;
    margin-left: auto;
    margin-right: auto;
    font-size: 80px;
}


.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}


#time{
    height: 50%;
    font-size: 60px;
    color: rgb(40, 39, 39);
    background-color: aliceblue;
    opacity: 0.8;
    padding-left: 10px;
    padding-right: 10px;
}


.gan{
    height: 50%;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

button{
    font-size: 20px;
    border-radius: 5px;
    width: fit-content;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 10px;
    margin-top: 15px;
}

button:hover{
    transform: scale(1.05);
    box-shadow: 2px 2px 2px pink;
}


#time:hover{
    transform: scale(1.05);
    box-shadow: 2px 2px 2px pink;
}


.card:hover{
    border-style: solid;
    border-color: rgba(255, 0, 85, 0.3);
}
