body{
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 149, 255);
    background-image: url(917804.jpg);
    font-family: "Barriecito", system-ui;
    font-weight: 400;
    font-style: normal;
    color: rgb(146, 146, 146);
    font-size: 25px;
}

.heading{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

h1{
    background-color: aliceblue;
    width: fit-content;
    border-radius: 15px;
    text-align: center;
    margin-top: 75px;
    padding: 10px;
}

.main{
    height: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#textcard{
    min-width: 25rem;
    max-width: 25rem;
    max-height: 10%;
    min-height: 10%;
    border: none;
    border-radius: 10px;
    text-align: end;
    font-size: 100%;
    padding:5px;
    
}

.cal{
    width: 25rem;
    height: 90%;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 4fr 1fr;
    padding-right: 15px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-radius: 10px;
}

.one{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.two{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
}

.three{
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    grid-template-rows: 1fr;
    grid-column: 1/3;
}

.basic{
    border:none;
    border-radius: 70%;
    margin:5px;
    font-family: "Barriecito", system-ui;
    font-weight: 400;
    font-style: normal;
    color: rgb(146, 146, 146);
    background-color: aliceblue;
    font-size: 20px;
}

.long{
    border: none;
    border-radius: 50%;
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: "Barriecito", system-ui;
    font-weight: 400;
    font-style: normal;
    color: rgb(146, 146, 146);
    background-color: aliceblue;
    font-size: 20px;
}

.wide{
    border: none;
    border-radius: 50%;
    margin-right: 5px;
    margin-left: 5px;
    font-family: "Barriecito", system-ui;
    font-weight: 400;
    font-style: normal;
    color: rgb(146, 146, 146);
    background-color: aliceblue;
    font-size: 20px;
}


.shad:hover{
    transform: scale(1.025);
    box-shadow: 2px 2px 5px lightblue;
}


